body {
  font-family: 'Alegreya', serif;
  text-align: center;
}

header {
  font-size: 2em;
}

i {
  font-size: 10em;
}

button {
  margin-top: 20px;
}

#inGame {
  display: none;
}

#afterGame {
  display: none;
  font-size: 1.5em;
}